/* This file contains our custom css

  (.) before the name represents a class
      ex. : <div class='myclass'></div>

  (#) before the name reperesent an id
      ex. :  <div id='myid'></div>

 */

/* Hide a certain component */
.panel-off{
	display:none;
}
/* Custom Modal */
.cmodal{
  display:none;
  position: fixed;
    z-index: 999999999;
  padding-top: 100px;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.cmodalcntnt{
  background-color:#fefefe;
  margin:auto;
  padding:20px;
  border:1px solid #888;
  width: 50%;
}


/* design for our login */
  #log{
  width:100%;
  height: 50%;

  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
    
  margin: auto;
}

